# GNU make and CMake in-place build results to ignore
*WCSimRootDict*
!src/*WCSimRootDict*
libWCSim.a
libWCSimRoot.*
make.rootcint.result
make.result
make.out.txt
bin/
tmp/
doxygen/
# CMake in-place build results to ignore
CMakeCache.txt
CMakeFiles/
Makefile
WCSim
cmake_install.cmake
cmake.out.txt
# VS Code in-place build results to ignore
*.code-workspace
.vscode/
build/

# run results to ignore
*.out.txt
*.root
geofile.txt

# compiled ROOT scripts to ignore
*_C.d
*_C.so
*_cxx.d
*_cxx.so
*_cc.d
*_cc.so

## compiled python scripts to ignore
*.pyc

## ignore solar 
data_solar/
include/WCSimGenerator_Solar.hh
src/WCSimGenerator_Solar.cc
