#ignore build results
src/WCSimRootDict.cc
src/WCSimRootDict.h
libWCSim.a
libWCSimRoot.so
make.rootcint.result
make.result
bin/
tmp/
doxygen/

#ignore run results
*.root
geofile.txt

#ignore compiled ROOT scripts
*_C.d
*_C.so
*_cxx.d
*_cxx.so
*_cc.d
*_cc.so

##ignore compiled python scripts
*.pyc
