#ignore build results
src/WCSimRootDict.cc
src/WCSimRootDict.h
libWCSim.a
libWCSimRoot.so
make.rootcint.result
make.result
bin/
tmp/

#ignore run results
wcsim.root
geofile.txt

#ignore temp files
*~
