sudo: required

language: cpp

compiler: gcc
dist: trusty

services:
  - docker

before_install:
  - docker pull brichards64/wcsim

jobs:
  include:
    - stage: Compilation Build Test
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken -e TRAVIS_PULL_REQUEST_SHA=" $TRAVIS_PULL_REQUEST_SHA " -e TRAVIS_PULL_REQUEST_SLUG=" $TRAVIS_PULL_REQUEST_SLUG " -e TRAVIS_PULL_REQUEST=" $TRAVIS_PULL_REQUEST " wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/Tests.sh 1"
    - stage: Execution Tests 	      
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 2" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 3" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 4" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 5" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 6" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 7" 
    - 
      script: docker run --rm -v `pwd`:/root/HyperK/WCSim -e TRAVIS_COMMIT=$TRAVIS_COMMIT -e TRAVIS_COMMIT_MESSAGE=" $TRAVIS_COMMIT_MESSAGE " -e GitHubToken=$GitHubToken wcsim/wcsim:build /bin/sh -c " cd /root && git clone https://github.com/WCSim/Validation.git && source /root/HyperK/env-WCSim.sh && cd /root/HyperK/WCSim && /root/Validation/build.sh && /root/Validation/Tests.sh 8" 

notifications:
  email:
    recipients:
      - b.richards@qmul.ac.uk
      - erin.osullivan@fysik.su.se
    on_success: never # default: change
    on_failure: always # default: always
